__pycache__/
DB/
*.log
models/
myEnv/
envBE/
envUI/

local_chat_history/
*.ipynb
.vscode
*.pdf 
*.mmd 
*.docx
*.gguf
SOURCE_DOCUMENTS/
data/
Modelfile
data/*

tmp_data_dir/*
tmp_source/*
AIO_Documents/*